<%- include("partails/nav") %>

<div >
    <div  class="container ">
        <h1 class="display-5">Oh Oh! Something went wrong</h1>
        <p class="lead "><%= title %></p>
        <a href="/<%= url %>"    class="btn btn-lg btn-warning" >
Try Again :(
        </a>
    </div>
</div>

</body>
</html>