<%- include("partails/nav") %>

  <div class="containerBox" style="margin-left: 60px">
      <div class="homePage">
        <div class="name">
          <h1 class="d-flex mt-1 " id="greeting"></h1>
          <h3>CHIEF-WADEN</h3>
        </div>
        <div class="time">
          <div class="date">
            <h1 id="time_"></h1>
            <p id="time"></p>
          </div>
        </div>
        <form action="/dashboard" method="get">
          <button class="cBtn" >VIEW ANALITICS</button>
        </form>
      </div>
    </div>
  </body>
</html>
