<%- include("partails/nav") %>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4"><%= subTitle %></h1>
            <p class="lead ">The Student information has been <%= subject %> Successfully :)</p>
            <a href="/home" class="btn btn-lg btn-warning">Home Page</a>
        </div>
    </div>
</body>
</html>